{#{{ attach_library('js_fullwidth/colorpicker') }}#}


{#<div class="container" style="margin: 150px auto;">#}
    {#<div class="col-12">#}

        {#<div class="row">#}
            {#<div class="col-lg-4 col-sm-4 col-12">#}
                {#<div class="form-group">#}
                    {#<input type="text" id="position-top-right" class="form-control colorpicker_field" data-position="top right" value="#0088cc">#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
{#</div>#}
    <div style="
            width: 100vw;
            position: relative;
            margin-left: -50vw;
            height: 200px;
            left: 50%;
            text-align: center;
            background-color: {{ HeaderBgColor }};
            color: black;
            padding-top: 120px;
            padding-bottom: 185px;
            font-size: 5.9vw;
            ">

        <h1><span style="text-align: center; color: {{ TextColor }};">{{ HeaderText }}</span></h1>
    </div>