
<div style="
 width: 100vw;
 position: relative;
 margin-left: -50vw;
 height: 200px;
 left: 50%;
text-align: center;
background-color: {{ HeaderBgColor }};
color: white;
padding-top: 120px;
padding-bottom: 185px;

">
    <h1><span style="text-align: center; color: white;">{{ HeaderText }}</span></h1>
</div>