
<div style="
 width: 100vw;
 position: relative;
 margin-left: -50vw;
 height: 200px;
 left: 50%;
text-align: center;
background-color: {{ HeaderBgColor }};
color: black;
padding-top: 120px;
padding-bottom: 185px;
font-size: 5.9vw;
">

<h1><span style="text-align: center; color: {{ TextColor }};">{{ HeaderText }}</span></h1>
</div>